*{
    margin: 0;
    padding: 0;
}
.staticOverlayBg{
    background-image: url(../img/pic2.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}
.staticOverlayBg:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.wrapper{
    position: relative;
    z-index: 50;
    overflow: hidden;
}
.main{
    position: relative;
    min-height: 620px;
}
.content{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.logo{
    color: #fff;
    font-size: 22px;
    float: left;
    width: 150px;
    z-index: 100;
    position: relative;
    line-height: 45px;
}
nav{
    float: right;
    max-width: 500px;
    line-height: 50px;
}
nav ul{
   width: 100%; 
}
nav ul li{
    float: left;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;  
}
nav ul li a:hover{
    color: #ccc;
    text-decoration: none;
    padding: 0 15px;  
}
header{
    width: 100%;
    margin: 0 auto;
    height: 45px;
}
.headerInner{
    width: 90%;
    margin: 0 auto;
    height: 45px;
}


h1.mainTitle{
    color: #fff;
    font-size: 36px;
    max-width: 680px;
    padding: 15px;
    margin: 150px auto;
    width: 700px;
    text-align: center
}

a.mainBtn{
    color: #000;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 2px;
    max-width: 150px;
    text-align: center;
    margin: 0px auto;
    display: block;
    text-decoration: none;
}
a.mainBtn:hover{
    text-decoration: none;
    color: #000;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 3px 10px 0px rgba(194,194,194,1);
    box-shadow: 0px 3px 10px 0px rgba(194,194,194,1);
}
a.scroll{
  position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/scroll-mouse.png") no-repeat center center;

}

/*        TOURS          */

.tours{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}
.tourTitle{
    color: #fff;
    font-size: 36px;
    max-width: 300px;
    padding: 15px;
    margin: 5px 0 0 ;
    width: 700px;
    text-align: center
}
.tourTable{
    
}
table{
    color:#fff;
    z-index: 100;
    position: relative;
    margin-top: 100px;
}
table thead tr th.tourDate{
    text-align: center;
    width: 9%;
}
table thead tr th.tourCity{
    text-align: center;
    width: 27%;
}
table thead tr th.tourPlace{
    text-align: center;
    width: 27%;
}
table thead tr th.tourSoc{
    text-align: center;
    width: 27%;
}
table thead tr th.tourBuy{
    text-align: center;
    width: 11%;
}



table thead tr{
    font-weight: bold;
    font-size: 18px;
}

table thead tr:hover{
    background-color: transparent;
}
table tr:hover{
    background-color: rgba(247,247,247,0.1);
    transition: 350ms;
}
table tbody tr td .tourDate{
    text-align: center;
    width: 100%;
}
table tbody tr td .tourDate .num{
    font-size: 24px;
    font-weight: bolder;
}
table tbody tr td .tourDate .mon{
    font-size: 18px;
    font-weight: bolder;
    margin-top: -10px;
}
table tbody tr td .tourCity{
    text-align: center;
    width: 100%;
        font-size: 16px;
    margin-top: 15px;
}
table tbody tr td .tourPlace{
    text-align: center;
    width: 100%;
        font-size: 16px;
   margin-top: 15px;
}
table tbody tr td .tourSoc .socWrapper{
    margin: 10px auto;
    width: 90px;
}
table tbody tr td .tourBuy{
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

table .tourSoc a{
    width: 25px;
    float: left;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
table .tourSoc a:hover{
    color: #ccc;
transition: 350ms;
}
table .tourBuy a{
    padding: 8px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius:2px;
    text-decoration: none;
}
table .tourBuy a:hover{
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: #fff;
    transition: 350ms;
}

a.allEvents{
    font-size: 18px;
    color: #f9f9f9;
    width: 85px;
    text-align: center;
    margin: 45px auto;
    display: block;
}
a.allEvents:hover{
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
}












/*    SECTION 2    */

.album{
    width: 30%;
    float: left;
}
.album span{
    font-weight: bold;
    color: #fff;
}
.album .alb-pic{
     max-width: 325px;
    color: #fff;
}
.album .alb-name{
     max-width: 325px;
    color: #fff;
    margin: 15px 0;
}
.album .alb-date{
     max-width: 325px;
    color: #fff;
    margin: 15px 0;
}
.album .alb-discr{
     max-width: 325px;
    color: #fff;
}

/*    SECTION 3    */



footer{
    widows: 100%;
    height: 45px;
    margin: 0 auto;
    background: #000;
    opacity: 0.75;
    position: relative;
    bottom: 0;
}

.sandglass{
    width: 250px;
    color: #eee;
    line-height: 45px;
    float: left;
}
.sandglass a{
    color: #eee;
}
.sandglass a:hover{
    color: #eee;
    text-decoration: underline;
}

.social{
    float: right;
    width: 115px;
    position: relative;
    z-index: 100;
    margin-top: 15px;
}
.social i{
    width: 25px;
    height: 25px; 
    color: #fff;
    float: left;
    margin: 0 6px;
    border-radius: 50%;
}