*{
    margin: 0;
    padding: 0;
}
.content{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
header{
    width: 100%;
    margin: -28px auto 0;
    height: 45px;
    position: relative;
    z-index: 20;
}
.logo{
    color: #fff;
    font-size: 22px;
    float: left;
    width: 150px;
    z-index: 100;
    position: relative;
    line-height: 45px;
}
.navBtn{
    width: 18px;
    height: 18px;
    float: right;
    line-height: 50px;
    display: none;
}
nav{
    float: right;
    max-width: 500px;
    line-height: 50px;
}
nav ul{
   width: 100%; 
}
nav ul li{
    float: left;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;  
}
nav ul li a:hover{
    color: #ccc;
    text-decoration: none;
    padding: 0 15px;  
}
nav ul li a.active{
    color: #fff;
    text-decoration: none;
    padding: 0 15px; 
    font-weight: bold; 
}

a.mainBtn{
      color: #000;
    background-color: #fff;
    padding: 15px 4px;
    border-radius: 2px;
    max-width: 150px;
    text-align: center;
    margin: 0px auto;
    display: block;
    text-decoration: none;
    position: relative;
    top: 350px;
}
a.mainBtn:hover{
    text-decoration: none;
    color: #000;
   -webkit-box-shadow: 0px 2px 3px 0px rgba(59,59,59,1);
-moz-box-shadow: 0px 2px 3px 0px rgba(59,59,59,1);
box-shadow: 0px 2px 3px 0px rgba(59,59,59,1);
}
.social{
    float: right;
    width: 150px;
    position: relative;
    z-index: 100;
}
.social i{
    width: 25px;
    height: 25px;
    
color: #fff;
float: left;
margin: 0 6px;
border-radius: 50%;
}

h1.main-title{
    color: #fff;
    font-size: 36px;
/*    font-family: "Arial", sans-serif;*/
    max-width: 680px;
    padding: 15px;
    margin-top: -45px;
    text-transform: none;
}

.mainEvent{
    height: 300px;
    position: relative;
    z-index: 20;
    margin-top: 50px;
}
.mainEvent .eventPic{
    max-width: 220px;
    float: left;
    margin-right: 30px;
}
.mainEvent .eventPic img{
    width: 100%;
}
.mainEvent .eventTitle{
    font-size: 20px;
    color: #fff;
    margin-bottom: 8px;
}
.mainEvent .eventPlace{
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}
.mainEvent .eventDate{
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}
.mainEvent .eventDiscript{
font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}
.mainEvent .eventSocials a{
    width: 110px;
    float: left;
    line-height: 30px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.mainEvent .eventBtn a{
    padding: 8px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius:2px;
    text-decoration: none;
}


 

table{
    color:#fff;
    z-index: 100;
    position: relative;
    margin-top: 100px;
}
table thead tr th.tourDate{
    text-align: center;
    width: 9%;
}
table thead tr th.tourCity{
    text-align: center;
    width: 27%;
}
table thead tr th.tourPlace{
    text-align: center;
    width: 27%;
}
table thead tr th.tourSoc{
    text-align: center;
    width: 27%;
}
table thead tr th.tourBuy{
    text-align: center;
    width: 11%;
}

table thead tr{
    font-weight: bold;
    font-size: 18px;
}

table thead tr:hover{
    background-color: transparent;
}
table tr:hover{
    background-color: rgba(247,247,247,0.1);
    transition: 350ms;
}
table tbody tr td .tourDate{
    text-align: center;
    width: 100%;
}
table tbody tr td .tourDate .num{
    font-size: 24px;
    font-weight: bolder;
}
table tbody tr td .tourDate .mon{
    font-size: 18px;
    font-weight: bolder;
    margin-top: -10px;
}
table tbody tr td .tourCity{
    text-align: center;
    width: 100%;
        font-size: 16px;
    margin-top: 15px;
}
table tbody tr td .tourPlace{
    text-align: center;
    width: 100%;
        font-size: 16px;
   margin-top: 15px;
}
table tbody tr td .tourSoc .socWrapper{
    margin: 10px auto;
    width: 90px;
}
table tbody tr td .tourBuy{
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

table .tourSoc a{
    width: 25px;
    float: left;
    line-height: 30px;
    color: #fff;
    text-align: center;
}
table .tourSoc a:hover{
    color: #ccc;
transition: 350ms;
}
table .tourBuy a{
    padding: 8px 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius:2px;
    text-decoration: none;
}
table .tourBuy a:hover{
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
    background-color: #fff;
    transition: 350ms;
}

a.allEvents{
    font-size: 18px;
    color: #f9f9f9;
    width: 85px;
    text-align: center;
    margin: 45px auto;
    display: block;
}
a.allEvents:hover{
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
}


footer{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background: rgba(0,0,0,0.75);
    position: absolute;
    bottom: 0;
}

.sandglass{
    width: 175px;
    color: #eee;
    line-height: 45px;
    float: left;
}
.sandglass a{
    color: #eee;
}
.sandglass a:hover{
    color: #fff;
    text-decoration: underline;
}

.social{
    float: right;
    width: 225px;
    position: relative;
    z-index: 100;
    margin: 15px auto 0;
}
.social a{
    float: right;
}
.social i{
    width: 25px;
    height: 25px; 
    color: #fff;
    float: left;
    margin: 0 6px;
    border-radius: 50%;
    text-align: center;
}





@media screen and (max-width: 600px) {
    .navBtn{
        display: block;
    }
    .navigation{
        display: none;
        width: 250px;
        background: #333;
        height: 100%;
        position: fixed;
        min-height: 1024px;
        right: -250px;
        top: -5px;
        -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.55);
    }
    nav ul li {
     float: none; 
}
    .close{
    position: relative;
    top: 15px;
    right: 15px;
    color: #fff;
    z-index: 50;
    }

}

@media screen and (max-width: 480px) {
    .social{
        float: none;
        margin: 0px auto 0;
        padding-top: 15px;
    }
    .sandglass {
    display: none;
}
    
}